.row{
    background-color: deepskyblue;
    padding: 20px;
    padding-top: 2%;
}
button{
    margin-bottom: 2%; 
    display:block;}

form{
    display: none;
}

h1{
    display: inline-block;
    width: auto;

}
#añadir{
    display:inline-block;
    width:auto;
    height: 30px;
    vertical-align: middle;
    margin-left: 5px;
}

#confirmar{
    text-align: center;
    margin: 0%;
    display: inline-block;
}

li{
    list-style: none;
}
